{% extends "layout.html.twig" %}
{% set subTitle = "Payment Overview"%}
{% block title %}{{ parent() }} - {{ subTitle }}{% endblock %}

{% block content %}
    
    {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) 
    %}


<div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 main">       
    
    <h2 class="sub-headsr">{{ subTitle }}</h2>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message alert alert-success">
        {{ flashMessage }}
    </div>
   
    {% endfor %}
     
    {% if payments is defined and payments is not empty %} 
        <div class="table-responsive">
            <div>
                {{ pagination.getTotalItemCount }} results
            </div>
            <table class="table">
                    <thead>
                        <tr>	
                            <td>ID</td>
                            <td>Date</td>
                            <td>Method</td>
                            <td>Amount (Afl)</td>
                            <td>Customer</td>
                            <td>Inserted By</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.paymentsid }}</td> 
                                <td>{{ payment.paymentdate| date('d-m-Y') }}</td> 
                                <td>{{ payment.paymentmethod }}</td>
                                <td>{{ payment.amount|number_format(2, '.', ',') }}</td>
                                <td>{{ payment.firstname }} {{ payment.name }}</td>
                                <td>{{ payment.insertuser }}</td>
                                <td>
                                    <a onclick="showPayment({{ payment.paymentsid }});" class="btn" aria-label="Print"
                                       data-toggle="tooltip" data-placement="top" title="View">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a onclick="getPayment(this.id);" id="{{ payment.paymentsid }}"  class="btn" aria-label="Edit"
                                       data-toggle="tooltip" data-placement="top" title="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a onclick="return confirm('Delete payment {{ payment.paymentsid }}?');" class="btn" aria-label="Delete"
                                       data-toggle="tooltip" data-placement="top" title="Delete"
                                       href="{{ path('serlimar_serledge_delete_payment',{'id': payment.paymentsid })}}"
                                       >
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>  
        </div>
        
    {% elseif customers is defined and customers is empty %}
        No customers found with the provided birthdate.    
    {% endif %}
    
    </div>
   
   {# Include the modal container divs for the modal popups. This is triggered by
      data-toggle="modal" data-target="#myModal" attr in the grid buttons, so it has to be present
      somewhere viewable by this template. (TODO: find out a better way to inherit it)
   #} 
  
   
 

{% endblock %}