{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}
{% block stylesheets %}
    {{ parent()}}
    {% stylesheets 'bundles/redstarsecurity/css/*' %}
      <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block body %}

    <div class="login">
        <div class="header">
        <div>serl<span>EDGE</span></div>
        <p class="text-small">Please fill in you username and submit.</p>
        </div>
        <div class="clearfix"></div>
        {% if error %}
            <div class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</div>
        {% endif %}
        
        {{ form_start(form) }}
        {{ form_widget(form.username) }}
        {{ form_end(form) }}
        
    </div>
{% endblock %}