{% extends "layout.html.twig" %}
{% set subTitle = "User Overview"%}
{% block title %}{{ parent() }} - {{ subTitle }}{% endblock %}

{% block content %}
    
    {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) 
    %}


<div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 main">       
    
    <h2 class="sub-headsr">{{ subTitle }}</h2>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message alert alert-success">
        {{ flashMessage }}
    </div>
   
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="flash-message alert alert-danger">
        {{ flashMessage }}
    </div>
   
    {% endfor %}
     
    <p>
        <button onclick="toggleFilter()" id="toggleLink" class="btn btn-info btn-sm ">Toggle Filter</button>
    </p>
    
    <div class="payment-filter" style="display: none">    
       
        {{ form_start(form,{'attr': {'novalidate': 'novalidate', 'style':'width:200px'}}) }}
          <div class="form-group {% if form.username.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.username)  }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
          </div>
           <div class="form-group {% if form.location.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.location)  }}
            {{ form_widget(form.location) }}
            {{ form_errors(form.location) }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a type="button" class="btn btn-default" href="{{ path('serlimar_serledge_user') }}">Clear</a>
          </div>
        {{ form_end(form) }}
        
    </div>
    <div class="clearfix"></div>
    
    {% if users is defined and users is not empty %} 
        <div class="table-responsive">
            <div>
                {{ pagination.getTotalItemCount }} results
            </div>
            <table class="table">
                    <thead>
                        <tr>	
                            <td>ID</td>
                            <td>Username</td>
                            <td>Firstname</td>
                            <td>Lastname</td>
                            <td>Role</td>
                            <td>Location</td>
                            <td>
                                {% if is_granted('ROLE_CREATE_USER') %}
                                <button type="button" class="btn btn-primary btn-sm" onclick="prepareUser();">Create User</button>
                                {% endif %}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td> 
                                <td>{{ user.username }}</td> 
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.role }}</td>
                                <td>{{ user.location }}</td>
                                <td>
                                    {% if is_granted('ROLE_READ_USER') %}
                                    <a onclick="showUser({{ user.id }});" class="btn" aria-label="View"
                                       data-toggle="tooltip" data-placement="top" title="View">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_UPDATE_USER') %}
                                    <a onclick="getUser({{ user.id }})"  class="btn" aria-label="Edit"
                                       data-toggle="tooltip" data-placement="top" title="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_DELETE_USER') %}
                                    <a onclick="return confirm('Delete user {{ user.id }}?');" class="btn" aria-label="Delete"
                                       data-toggle="tooltip" data-placement="top" title="Delete"
                                       href="{{ path('serlimar_serledge_delete_user',{'id': user.id })}}"
                                       >
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_RESETPASSWORD_USER') %}
                                    <a class="btn" aria-label="Delete"
                                       data-toggle="tooltip" data-placement="top" title="Reset Password"
                                       href="{{ path('serlimar_serledge_resetpassword_user',{'id': user.id })}}"
                                       >
                                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>  
        </div>
        
    {% elseif users is defined and users is empty %}
        No users found.    
    {% endif %}
    
    </div>

{% endblock %}