{% extends "layout.html.twig" %}
{% set subTitle = "User Overview"%}
{% block title %}{{ parent() }} - {{ subTitle }}{% endblock %}

{% block content %}
    
    {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) 
    %}


<div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 main">       
    
    <h2 class="sub-headsr">{{ subTitle }}</h2>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-message alert alert-success">
        {{ flashMessage }}
    </div>
   
    {% endfor %}
     
    {% if users is defined and users is not empty %} 
        <div class="table-responsive">
            <div>
                {{ pagination.getTotalItemCount }} results
            </div>
            <table class="table">
                    <thead>
                        <tr>	
                            <td>ID</td>
                            <td>Username</td>
                            <td>Firstname</td>
                            <td>Lastname</td>
                            <td>Role</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" onclick="prepareUser();">Create User</button>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td> 
                                <td>{{ user.username }}</td> 
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td> ROLE_USER </td>
                                <td>
                                    <a onclick="showUser({{ user.id }});" class="btn" aria-label="View"
                                       data-toggle="tooltip" data-placement="top" title="View">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                                    <a onclick="getUser({{ user.id }})"  class="btn" aria-label="Edit"
                                       data-toggle="tooltip" data-placement="top" title="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a onclick="return confirm('Delete user {{ user.id }}?');" class="btn" aria-label="Delete"
                                       data-toggle="tooltip" data-placement="top" title="Delete"
                                       href="{{ path('serlimar_serledge_delete_user',{'id': user.id })}}"
                                       >
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>  
        </div>
        
    {% elseif users is defined and users is empty %}
        No users found.    
    {% endif %}
    
    </div>

{% endblock %}