{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}
{% block stylesheets %}
    {{ parent()}}
    {% stylesheets 'bundles/redstarsecurity/css/*' %}
      <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
{% endblock %}
{% block body %}

    <div class="login">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
        <div class="header">
        <div>serl<span>EDGE</span></div>
        </div>
        <div class="clearfix"></div>
        
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
          <div class="form-group {% if form.plainPassword.vars.errors|length %} has-error{% endif %}">
            {{ form_widget(form.plainPassword) }}
            {{ form_errors(form.plainPassword) }}
          </div>
          
        {{ form_end(form) }}
        
    </div>
{% endblock %}