{% extends "layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set subTitle = "Customer"%}
{% block title %}{{ parent() }} - {{ subTitle }}{% endblock %}
{% block subtitle %} {{ subTitle }} {% endblock%}
{% block content %}
    
<div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 main">       
   
    
    <h2 class="sub-headsr">{{ subTitle }}</h2>
    
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
  

    {{ form_end(form) }}

    <div class="clearfix"></div>
    <div class="table-responsive">
        
    {% if customers is defined and customers is not empty %} 
        
            <table class="table">
                    <thead>
                            <tr>	
                                    <td>Name</td>
                                    <td>Date of birth</td>
                                    <td></td>
                            </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer.firstName }} {{ customer.name }}</td> 
                                <td>{{ customer.birthdate |date('d F Y') }}</td>
                                <td>  <a href="{{ path('serlimar_serledge_customer_proxy_payment',{'customerid': customer.guid })}}" class="btn" aria-label="Create payment for {{ customer.firstName }}" 
                                       data-toggle="tooltip" data-placement="top" title="Create payment for {{ customer.firstName }}">
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
            </table>
        
        
    {% elseif customers is defined and customers is empty %}
        No customers found with the provided birthdate.    
    {% endif %}
    </div>
</div>
{% endblock %}